h1, h2, h3. h4, h5, h6 {
	font-weight: bold;
	font-family: sans-serif;
	color: #222;
	/* ruggine */
}
h1 {
	font-size: 30pt;
	padding-left: 18px;
}
h2 {
	color: #333;
	/* grigio scuro */
	font-size: 14pt;
	margin-bottom: 0px;
	margin-top: 10px;
}
h3 {
	color: #333;
	/* grigio scuro */
	font-size: 12pt;
	margin-bottom: 0px;
	margin-top: 10px;
}
hr {
	border:none;
	border-top:1px solid #be0000;
	height:1px;
	margin:1em;
}
